---
import resumes from "./_resumes.json" assert {type: "json"};

const ROOT = "../";
---
<html>
<head>
    <title>NinthCircle - Résumé</title>
    <meta charset="utf-8"/>
    <meta name="description" content="My Résumé"/>
    <link rel="stylesheet" href={ROOT + "styles.css"}/>
    <link rel="icon" type="image/x-icon" href={ROOT + "images/favicon.png"}/>
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
<div class="banner" style="text-align:left">
    <a class="link" href="../">
        <button class="button">Back</button>
    </a>
</div>
<h1 class="header">
    Resume
</h1>
<div class="p">
    {
        resumes.filter((resume) => resume.default).map((resume) =>
                <img class="thumbnail" height="100%" src={resume.png_url}
                        style="margin-top:20px;" width="100%" alt={`${resume.title} Résumé`}/>
                <a class="link" href={resume.pdf_url} target="_blank">
                    <button>If the Résumé doesn't load; click this button to download instead</button>
                </a>
        )
    }
</div>
</body>
</html>
